* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contianer {
    position: relative;
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
}

.box {
    display: none;
}

span {
    position: absolute;
    top: 20px;
    right: 445px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: transparent;
    border-left-color: transparent;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}

.action {
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

#put {
    position: absolute;
    top: 48px;
    left: 0;
    height: 22px;
    font-size: 12px;
    outline: none;
}